* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgb(216, 216, 216);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.memory-card-game {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(3, 1fr);    
  gap: 1rem;                              
  max-width: 800px;                       
  width: 100%;
  aspect-ratio: 4/3;                      
}

.memory.card {
  background-color: white;
  border: 2px solid rgb(13, 86, 244);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  aspect-ratio: 1;  
}

.memory.card:hover {
  transform: scale(1.05);
  transform:matrix3d(40px)
}
