* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* dark theme website  */

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #101c22;
    color: #ffffff;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    /* min-height: 100vh; */
    overflow: visible;
    position: relative;
}

.left-sidebar,
.right-sidebar {
    background-color: #1e293b80;
    padding: 10px;
    border-radius: 8px;
    position: sticky;
    top: 0;
    height: 100vh;
}

.header-search-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #101c22;
    padding: 10px 0;
    border-bottom: 2px solid #1e293b80;
}


.left-sidebar h1 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #ffffff;

}


.left-sidebar form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: auto;
}

.left-sidebar .left-sidebar-controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

label {
    color: #b7c3d4;
    display: block;
    margin-bottom: .5rem;
    font-size: .9rem;
}

.left-sidebar input {
    padding: 3px;
    border: none;
}

.left-sidebar input,
textarea,
select {
    width: 100%;
    background-color: #334155;
    border: 1px solid #475569;
    height: 30px;
    font-size: 1rem;
    color: #ffffff;
    border-radius: 4px;
    font-family: inherit;
}

input::placeholder {
    color: #94a3b8;
    font-size: 0.9rem;
}

input:focus,
textarea:focus,
select:focus {
    outline: 1px solid #3b82f6;
}

.left-sidebar textarea {
    resize: vertical;
    min-height: 120px;
    padding: 5px;
}

.left-sidebar button {
    padding: 8px;
    background-color: #13a4ec;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.left-sidebar button:hover {
    background-color: #0e8cd1;
}

/* Button container styling */
.button-container {
    margin-top: auto;
    padding: 10px 0;
    width: 100%;
}

.button-container button {
    width: 100%;
}

/* all notes main content styling  */
.main-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header-search-bar h1 {
    font-size: 2.5rem;
    font-weight: bold;
}


.search-bar-container {
    display: flex;
    align-items: center;
    background-color: #334155;
    padding: 5px 10px;
    border-radius: 4px;
    width: 50%;
    outline: 1px solid #475569;
}

.header-search-bar input {
    margin-right: 10px;
    padding: 5px;
    width: 100%;
    background-color: transparent;
    border: none;
}

.header-search-bar input:focus {
    outline: none;
    color: #b7c3d4;
}

.header-search-bar input::placeholder {
    color: #94a3b8;
}

/* notes card  */
.notes-card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.notes-card {
    background-color: #1e293b80;
    padding: 15px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.notes-card h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.notes-card p {
    font-size: 1rem;
    color: #cbd5e1;
}

.notes-card .tag {
    display: inline-block;
    background-color: #3b82f6;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    margin-top: 10px;
}

.notes-card .notes-created-date {
    margin-top: auto;
    color: lightsteelblue;
    font-size: 0.9rem;
    text-align: right;
}

.notes-tag {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    font-size: 1rem;
}

.notes-tag .category-tag {
    background-color: #94a3b820;
    color: #b7c3d4;
    padding: 2px 6px;
    border-radius: 4px;
}


.notes-tag .priority-tag {
    padding: 2px 6px;
    border-radius: 4px;
}

.priority-tag.high {
    background-color: #991b1b80;
    color: #fca5a5;
}

.priority-tag.medium {
    background-color: #ca8a0480;
    color: #fde68a;
}

.priority-tag.low {
    background-color: #14532d80;
    color: #86efac;
}

.notes-footer {
    margin-top: auto;
    text-align: right;
    font-size: 0.9rem;
    color: lightsteelblue;
}

.notes-card .notes-footer .edit-button {
    background-color: #10b981;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}

.notes-card .notes-footer .edit-button:hover {
    background-color: #0e9e6e;
}

.notes-card .notes-footer .delete-button {
    background-color: #ef4444;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-left: 10px;
}
.notes-card .notes-footer .delete-button:hover {
    background-color: #dc2626;
}

/* right sidebar styling start  */

.right-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-sidebar h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ffffff;
}

.right-sidebar > p{
    color: #b7c3d4;
    font-size: 0.9rem;
}

.filter-category{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.filter-category label, .filter-priority label {
    font-size: 1rem;
    color: #b7c3d4;
}

.filter-category input,
.filter-priority input {
    margin-right: 10px;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 4px;
}

.filter-btns{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
}

.apply-filters-button {
    padding: 8px;
    background-color: #3b82f6;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: auto;
}
.apply-filters-button:hover {
    background-color: #2563eb;
}

.clear-filters-button {
    padding: 8px;
    background-color: #ef4444;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.clear-filters-button:hover {
    background-color: #dc2626;
}


.right-sidebar h3{
    margin-bottom: 10px;
    font-size: 1rem;
}

/* right sidebar styling end  */

.input-label{
    display: flex;
    justify-content: space-between;
}

.input-label span{
    color: lightblue;
}